.container {
  width: 100%;
}
.tasksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 0px 30px;
}
.addTaskBtn {
  display: flex;
  gap: 4px;
  align-items: center;
  color: white;
  border-radius: 4px;
  padding: 10px 12px;
  background-color: rgb(24 24 27);
  font-size: 16px;
}
.taskTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 0px;
}
@media screen and (max-width: 768px) {
  .taskTitleContainer {
    gap: 8px;
  }
}
