.mobileSidebarContainer {
  background-color: #ffffff;
  width: 75%;
  height: 100%;
  z-index: 10;
  text-align: right;
  font-weight: 800;
  position: absolute;
  top: 0px;
  left: -350px;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  display: block;
}
.open {
  transform: translateX(350px);
  opacity: 1;
}
.close {
  transform: translateX(-350px);
  opacity: 0;
}

.closeBtn {
  background: none;
  border: none;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
  position: relative;
  top: 20px;
  right: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.2;
  z-index: 6;
}
@media screen and (min-width: 768px) {
  .mobileSidebarContainer {
    display: none;
  }
}
