.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.heading span {
  width: auto;
  font-weight: bold;
  color: #111;
  font-size: 30px;
}
.heading p {
  background-color: #27689a;
  height: 30px;
  border-radius: 50%;
}
.addTask {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 0.8rem 0rem;
}
.link {
  width: auto;
  display: flex;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 9999px;
  align-items: center;
  color: rgb(62, 62, 62);

  font-size: 1rem;
  line-height: 1.5rem;
}
.link:hover {
  background-color: #2564ed2d;
}
.link span:hover {
  color: #2564ed;
}
.active {
  background-color: #2564ed;
  color: #fffdfd;
}

@media screen and (min-width: 1024px) {
  .link {
    width: 75%;
  }
}
