.tasksContainer {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 32px 0px;
  box-sizing: border-box;
}
.tasksTable {
  width: 100%;
}
.tableHead {
  border-bottom: 4px solid rgb(31, 79, 91);
}
.tableRow {
  text-align: left;
}
.tableHeading {
  padding: 8px 0px;
}
.createdAt {
  padding: 8px 0px;
}

.tableContainer {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.taskRow {
  border-bottom: 1px solid rgb(31, 79, 91);
  color: rgb(75 85 99);
}
.taskRow:hover {
  background-color: rgb(203 213 225);
}
.tableDescription {
  padding: 0px 4px;
}
.taskDetailData {
  padding: 0px 4px;
  /* background-color: #394a73; */
  display: block;
}
.taskDetailContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}
.taskDetail {
  width: 16px;
  height: 16px;
  border-radius: 9999px;
}
.taskTitle {
  font-size: 16px;
  line-height: 24px;
  color: rgb(3, 3, 3);
}
.taskDescription {
  display: flex;
  align-items: center;
  gap: 4px;
}
.description {
  display: flex;
  align-items: center;
  gap: 4px;
}
.priorityIcon {
  font-size: 18px;
  line-height: 28px;
}
.createdAtDescription {
  padding: 4px 0px;
}
.team {
  width: 28px;
  height: 28px;
  border-radius: 9999px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  margin-right: -4px;
}
.activity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.message {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: medium;
  color: rgb(75 85 99);
}
.btnContainer {
  padding: 4px;
  gap: 20px;
}
.edit {
  color: rgb(37 99 235);
  font-size: 16px;
  margin: 0px 10px;
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 4px;
}
.edit:hover {
  color: rgb(59 130 246);
}
.delete {
  color: rgb(185 28 28);
  font-size: 16px;
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 4px;
}
.delete:hover {
  color: rgb(239 68 68);
}
@media screen and (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }
  .tasksContainer {
    flex-direction: column;
  }
  .createdAt {
    display: none;
  }
  .assets {
    display: none;
  }
  /* .btnContainer {
    display: none;
  } */
  .tableContainer {
    width: 100%;
    padding: 8px 4px;
  }
  .createdAtDescription {
    display: none;
  }
  .edit .delete {
    font-size: 14px;
  }
}
