.tabs {
  width: 100%;
  padding: 0px 4px;
}
.tabList {
  display: flex;
  padding: 4px;
  margin-left: 24px;
  gap: 8px;
}
.tabb {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  font-weight: 500;
  background-color: white;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}
.tab:focus {
  outline: none;
}
.selected {
  /* color: rgb(30, 81, 250); */
  background-color: rgb(65, 65, 65);
  color: white;
}
.notSelected {
  color: rgb(31 41 55);
}
.notSelected:hover {
  color: rgb(30 64 175);
}
