.main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.container {
  position: fixed;
  width: 500px;
  background: #fcfbfa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  /* left: 200px; */
  top: 10%;
  left: 36%;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container header {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.container .form {
  background-color: transparent;
  width: 95%;
  box-shadow: none;
  border: 1px solid #454;
}

.form .input_box {
  width: 90%;
  margin-top: 10px;
}

.input_box label {
  color: #000;
}

.form :where(.input_box input, .select_box) {
  height: 35px;
  width: 90%;
  outline: none;
  font-size: 1rem;
  color: #1b1a1a;
  margin-top: 5px;
  border: 1px solid #ee4e34;
  border-radius: 6px;
  padding: 0 15px;
  background: #fcedda;
}

.input_box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .gender_box {
  margin-top: 10px;
  width: 90%;
  color: #101010;
}

.form :where(.gender_option) {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: #ee4e34;
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #000;
}

.form button {
  height: 40px;
  width: 100%;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #ee4e34;
}

.form button:hover {
  background: #ee3e34;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 300px;
    left: 10%;
  }
  .container .form {
    max-width: 300px;
  }
}
